---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "normalize",
        "skeleton"
;

footer>div>ul {
  float:right;
  margin:0;
  padding:0;
}
footer {
  margin-top:2rem;
}
nav {
  margin-top:2rem;
}
nav>div>ul>li,
footer>div>ul>li {
  float:left;
  height:1.5rem;
  list-style:none;
}
nav>div>ul>li {
  padding-top:0.2rem;
}
nav a {
  padding-right:1rem;
  text-decoration:none;
}
footer>div>ul>li>a {
  padding-left:1rem;
}
.content .row:last-child {
  margin-bottom:4rem;
}
#carousel>div>img:first-child {
  opacity:1.0;
}
#carousel>div>img:last-child {
  position:static;
}
#carousel>div>img {
  position:absolute;
  opacity:0.0;
}
#carousel {
  position:relative; /* this is needed so the absolute positioned image doesn't go wonky. */
  margin-bottom:2rem;
}
h1 {
  font-size:2rem;
}
h1 a,h4 {
  color:#000080;
}
nav h1 a {
  margin-right:0;
  padding-right:0;
}
a {
  color:#6666b2;
}
.vcard {
  margin-bottom:2.5rem;
}
@media (min-width: 400px) {
  nav a {
    margin-right:1.5rem;
  }
}
@media (min-width: 550px) {
  nav.row .columns:first-child {
    margin-bottom:1.5rem;
  }
  nav.row .columns h1 {
    font-size:2rem;
  }
}
@media (max-width: 884px) {
  nav.row .columns {
    width:100%;
    margin-left:0;
  }
}
@media (min-width: 885px) {
  nav.row .columns h1 {
    text-align:right;
  }
}
