<div class="row" id="carousel">
  <div class="columns twelve">
  <img src="{{ site.baseurl }}images/mine_3.jpg" class="u-max-full-width">
  <img src="{{ site.baseurl }}images/mine_2.jpg" class="u-max-full-width">
  <img src="{{ site.baseurl }}images/mine_7.jpg" class="u-max-full-width">
  <img src="{{ site.baseurl }}images/mine_9.jpg" class="u-max-full-width">
  <img src="{{ site.baseurl }}images/mine_8.jpg" class="u-max-full-width">
  <img src="{{ site.baseurl }}images/mine_pic.jpg" class="u-max-full-width">
  </div>
</div>
