<div class=container>
<footer class=row>
  <div class="columns eight">
    <p>Copyright &copy; 2015, Sandown Bay Resource Capital<br/>
    <sub>Sandown Bay Resource Capital Partners LLP is authorised and regulated by the Financial Conduct Authority (FCA)</sub></p>
  </div>
  <div class="columns four">
    <ul>
      <li><a href="{{ site.baseurl }}privacy/">Privacy Policy</a>
      <li><a href="{{ site.baseurl }}terms/">Terms of Use</a>
    </ul>
  </div>
</footer>
</div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60552226-1', 'auto');
  ga('send', 'pageview');

</script>
<script src="{{ site.baseurl }}js/carousel.js"></script>
