<div class=container>
<footer class=row>
  <div class="columns eight">
    <p>Copyright &copy; 2015, Sandown Bay Resource Capital<br/>
    <sub>Sandown Bay Resource Capital Partners LLP is authorised and regulated by the Financial Conduct Authority (FCA)</sub></p>
  </div>
  <div class="columns four">
    <ul>
      <li><a href="{{ site.baseurl }}privacy/">Privacy Policy</a>
      <li><a href="{{ site.baseurl }}terms/">Terms of Use</a>
    </ul>
  </div>
</footer>
</div>

<script src="{{ site.baseurl }}/js/carousel.js"></script>
